<app-navbar></app-navbar>
..<section class="hero">
  <div class="hero-text">


    <h1>Blood Donation</h1>
    <h3>Is A Great Act Of Kindness. Be a Hero Today!</h3>
    <p>Click On The Buttons Below To Find Suitable Donors Or To Register Yourself As A Blood Donor!</p>
    <a routerLink="/find_donors" routerLinkActive="active">Find Donors</a>
    <a routerLink="/donor_registration" routerLinkActive="active" class="ctaa">Donor Registration</a>
  </div>


  <div class="hero-img">
    <img src="../../assets/bd1 copy.png">
  </div>

</section>
<router-outlet></router-outlet>
