<app-navbar></app-navbar>
<h1>Available Donors</h1>
<div>

  <table id="donors-table">

  <thead>
      <tr>
          <th>Name</th>
          <th>Blood Group</th>
          <th>City</th>
          <th>Age</th>
          <th>Contact</th>
      </tr>
  </thead>
  <tbody>

      <tr>
        <td>Ravi Kumar</td>
        <td>B+</td>
        <td>Mumbai</td>
        <td>35</td>
        <td>9876543210</td>
    </tr>
    <tr>
        <td>Priya Patel</td>
        <td>AB-</td>
        <td>Ahmedabad</td>
        <td>28</td>
        <td>9876543210</td>
    </tr>
    <tr>
        <td>Amit Sharma</td>
        <td>O+</td>
        <td>Delhi</td>
        <td>40</td>
        <td>9876543210</td>
    </tr>
    <tr>
        <td>Neha Gupta</td>
        <td>A-</td>
        <td>Jaipur</td>
        <td>22</td>
        <td>9876543210</td>
    </tr>
    <tr>
        <td>Vikram Singh</td>
        <td>AB+</td>
        <td>Chennai</td>
        <td>32</td>
        <td>9876543210</td>
    </tr>
    <tr>
        <td>Anjali Mishra</td>
        <td>B-</td>
        <td>Kolkata</td>
        <td>27</td>
        <td>9876543210</td>
    </tr>
    <tr>
        <td>Aryan Khanna</td>
        <td>O-</td>
        <td>Bengaluru</td>
        <td>29</td>
        <td>9876543210</td>
    </tr>
    <tr>
        <td>Shreya Singh</td>
        <td>A+</td>
        <td>Hyderabad</td>
        <td>31</td>
        <td>9876543210</td>
    </tr>
    <tr>
        <td>Mohit Patel</td>
        <td>AB-</td>
        <td>Pune</td>
        <td>26</td>
        <td>9876543210</td>
    </tr>
    <tr>
        <td>Divya Jain</td>
        <td>B+</td>
        <td>Surat</td>
        <td>33</td>
        <td>9876543210</td>
    </tr>

  </tbody>

</table>


</div>
<router-outlet></router-outlet>
