table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #000000;
}
th {
  background-color: #950202;
  color: white;
}
tr:hover {
  background-color: #e4dfdf;
}
div
{
 box-shadow: 5px 5px 15px;
  margin:10%;

}
h1{
  font-size: 30px;

  position: relative;
  top: 130px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;

  color: rgb(199, 41, 41);
}
